@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;500;600;700&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


*, *::after, ::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  
  html, body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
  }

  ::-webkit-scrollbar {
	background-color:var(--color-VeryDark-BlueDarkMode-Background);
	width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey; 
	border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: rgb(209, 206, 206); 
	border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #777676; 
  }

  :root {
	--color-DarkBlue-DarkModeElements: hsl(209, 23%, 22%);
	--color-VeryDark-BlueDarkMode-Background: hsl(207, 26%, 17%);
	--color-VeryDark-Blue-LightMode-Text: hsl(200, 15%, 8%);
	--color-DarkGray-LightMode-Input: hsl(0, 0%, 52%);
	--color-Very-LightGray-LightMode-Background: hsl(0, 0%, 98%);                       
	--color-White-DarkMode-Text_LightMode-Elements: hsl(0, 0%, 100%);
  }
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-family: 'Nunito Sans', sans-serif;
	line-height: 1;
}

#light{
	background-color: var(--color-Very-LightGray-LightMode-Background);
	transition: all 0.3s ease;
}

#dark ::-webkit-scrollbar, ::-webkit-scrollbar-thumb  {
	background-color:var(--color-VeryDark-BlueDarkMode-Background);
}

#dark .select .css-hfutr2-MuiSvgIcon-root-MuiSelect-icon{
	color: snow;
}

#dark .select .MuiSvgIcon-root, .MuiSvgIcon-fontSizeMedium, .MuiSelect-icon, .MuiSelect-iconOutlined .MuiSelect-iconOpen, .css-bpeome-MuiSvgIcon-root-MuiSelect-icon{
	color: snow;
}


#dark{
	min-height: 100vh;
	background-color:var(--color-VeryDark-BlueDarkMode-Background);
	color: var(--color-White-DarkMode-Text_LightMode-Elements);
	transition: all 0.3s ease;
}

#dark  h1{
	color: var(--color-White-DarkMode-Text_LightMode-Elements);
}

#dark  h2{
	color: var(--color-White-DarkMode-Text_LightMode-Elements);
}


#dark  h3{
	color: var(--color-White-DarkMode-Text_LightMode-Elements);
}

#dark span{
	color: var(--color-White-DarkMode-Text_LightMode-Elements);
}

#dark .btn{
	color: var(--color-White-DarkMode-Text_LightMode-Elements);
	background-color:var(--color-DarkBlue-DarkModeElements);
}

#dark  .info-btn{
	color: var(--color-White-DarkMode-Text_LightMode-Elements);
	background-color:var(--color-DarkBlue-DarkModeElements);
}

#dark  .badge{
	color: var(--color-White-DarkMode-Text_LightMode-Elements);
	background-color:var(--color-DarkBlue-DarkModeElements);
}

#dark .input{
	color: var(--color-White-DarkMode-Text_LightMode-Elements);
	background-color:var(--color-DarkBlue-DarkModeElements);
}

#dark .input::placeholder{
	color: snow;
}

#dark .select, .css-6hp17o-MuiList-root-MuiMenu-list{
	color: snow;
	background-color:var(--color-DarkBlue-DarkModeElements);
}

#dark .label{
	color: snow;
}

 .select, .css-6hp17o-MuiList-root-MuiMenu-list{
	color:#2e2e27;
	background-color:transparent;
}


h1{
	color: black;
	font-size:1rem;
	font-weight: 700;
}

h2, .country-info-heading{
	color: black;
	font-size:1.3rem;
	font-weight: 700;
	margin-bottom: 1.5rem;
}

.country-info-heading{
	margin-top: 3rem;
}

h3{
	color: black;
	font-size:1rem;
	font-weight: 600;
}

span{
	color: #353333;
}

p{
	font-size: 0.8rem;
	font-weight: 600;
}




.header-nav {
	padding: 1.5rem 1.5rem;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}


.dark-light{
	display: flex;
	align-items: flex-end;
}


.search-icon{
		font-size: 1.4rem;
	color:#d3d1c0;
}

.icon{
	font-size: 1.1rem;
	margin-right: 0.5rem;
}

.section{
	padding: 1.2rem 1.5rem;
	display: grid;
	gap: 40px;
}

/* loading screen */

.spinner-box {
    width: 100%;
    height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color:#000000;
  }

  .loader {
	position: relative;
	width: 100px;
	height: 100px;
  }
  
  .loader:before , .loader:after{
	content: '';
	border-radius: 50%;
	position: absolute;
	inset: 0;
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3) inset;
  }
  .loader:after {
	box-shadow: 0 2px 0 #FF3D00 inset;
	animation: rotate 2s linear infinite;
  }
  
  @keyframes rotate {
	0% {  transform: rotate(0)}
	100% { transform: rotate(360deg)}
  }


/* loading screen -END- */

.input{
	letter-spacing: 1.1px;
	width: 100%;
	width: 100%;
	padding: 0.9rem 24px 0.9rem 0.9rem;
	background-color: transparent;
	transition: transform 250ms ease-in-out;
	font-size: 16px;
	line-height: 18px;
	color: #575756;
}



.input::placeholder{
	font-weight: 300;
	font-size: 0.8rem;
	opacity: 0.5;
	letter-spacing: 1.1px;
}

.btn {
	padding: 0  1.5rem;
    width: 50px;
    border: none;
	background-color: transparent;
}

.input, .btn {
border: none;
outline: none;

}



.form{
	border-radius: 5px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
	display: flex;
	width: 100%;
}


.select{
	font-size: 0.9rem;
   font-weight: 600;
	width: 200px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
	border: none;
	outline: none;
	border-radius: 5px;
	transition: all 0.3s;
}


.flex{
	display: grid;
	gap: 1.5rem;
}




.css-1okebmr-indicatorSeparator{
	display: none;
}

.cards{
	display: grid;
	width: 299px;
	height: 399px;
}

.cards-section{
	justify-items: center;
	display: grid;
	gap: 1.5rem;
	grid-template-columns: repeat(auto-fit, minMax(min(100%, 250px), 1fr) );

}

.card-container{
	text-overflow: clip;
	overflow: hidden;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border-radius: 5px;
	display: grid;
	gap: 30px;
}

.img-container {
    overflow: hidden;
    height: 200px;
}

.flags {
    width: 100%;
}

.info{
	padding: 0 1rem 4rem;
}

.grid-info{
	display: grid;
	gap: 10px;
}


.MuiFormControl-root {
    width: 200px;
}

.info-box{
	padding: 2rem;
	display: grid;
	gap: 30px;
}

.btn-container{
	width:110px;
	margin-bottom: 4rem;
}

#light .info-btn{
	color: #2e2e27;

}

.info-btn  {
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 0.99rem;
    font-weight: 300;
    text-transform: capitalize;
    width: 110px;
    height: 38px;
    background-color: inherit;
    border: none;
    border-radius: 5px;
    box-shadow: rgb(14 30 37 / 12%) 0px 2px 4px 0px, rgb(14 30 37 / 32%) 0px 2px 16px 0px;
}

.btn-arrow{
	margin-right: 0.8rem;
	font-size: 1.3rem;
    font-weight: 600;
}


.info-img{
	width:100%
}

.country-info-box{
    margin-top: 3rem;
	display: grid;
}

.country-info-list, .country-info-list-two{
	display: grid;
	gap: 15px;
}

.country-info-list-two{
	margin: 3.5rem 0;
}

.country-info-list-items{
	font-size: 1rem;
	font-weight: 600;
}
span{
	font-weight: 500;
	color:#2e2e27;
}

.css-1e7cuzv-MuiFormControl-root{
	border: none;
	height: 100px;
}


.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 0;
    top: -5px;
    left: 0;
    margin: 0;
    padding: 0 8px;
    pointer-events: none;
    border-radius: inherit;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    min-width: 0%;
    border-color: none;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.info-tag{
margin-bottom: 1rem;
}

.info-tag > p{
	font-size: 1rem;
	font-weight: 600;
	letter-spacing: 1.2px;
}

.badge{
	letter-spacing: 1.5px;
	font-size: 0.7rem;
	width: 90px;
    height: 30px;
    background-color: inherit;
    border: none;
    border-radius: 5px;
	justify-items: center;
	display: grid;
align-items: center;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.tags{	
	gap: 1rem;
	grid-template-columns: repeat(auto-fit, minMax(min(80%, 80px), 3fr) );
	display: grid;
}



.select .MuiList-root,
.MuiList-padding,
.MuiMenu-list,
.css-6hp17o-MuiList-root-MuiMenu-list
.MuiButtonBase-root,
.MuiMenuItem-root,
.MuiMenuItem-gutters,
.MuiMenuItem-root,
.MuiMenuItem-gutters,
.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root{
		min-height: 25px;
		font-size: 0.8rem;
		font-weight: 300;
}

@media (width:768px) {
	.country-info-box {
		justify-content: center;
		text-align: center;
		display: grid;
	}
}

@media (min-width:1024px) {

	.cards-section {
		justify-items: left;
	}

	.form{
		width:500px
	}

.flex{
display: flex;
justify-content: space-between;
}

.info-box{
	padding: 2rem 2rem 0 2rem;

}

.info-flex{
	display: flex;
	gap: 3rem;
}

.info-img {
    height: 80%;
    width: 90%;
}

.tags-flex{
	display: grid;
	gap: 20px;
    margin-top: 2rem;
}

.country-info-heading{
	margin-top: 0;
	margin-bottom: 2rem;
}

.country-info-box {
display: grid;
gap: 5rem;
grid-template-columns: repeat(auto-fit, minMax(min(100%, 250px), 2fr) );
}

.country-info-list{
	margin: 0;
    display: grid;
    gap: 15px;
}

.country-info-list-two{
	margin: 0;
	display: block;
} 

.country-info-list-two li{
	padding-bottom: 0.8rem;
}

.info-tag{
	margin: 0;
}

.tags{
	margin-left: 1rem;
}

.dark-light:hover, .info-btn:hover{
	cursor: pointer;
}

.cards-section:hover .cards{
	filter:blur(3px);
	opacity:.5;
	transform: scale(.98);
	box-shadow:none;
	transition: all 0.1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  }

  .cards-section:hover .cards:hover{
	transform:scale(1);
	filter:blur(0px);
	opacity:1;
	box-shadow:0 8px 20px 0px rgba(0,0,0,0.125);
	transition: all 0.1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  }

}

@media (min-width:1366px) {
	.info-flex{
		gap: 5rem;
		}
}